.black {
	max-width: 50%;
	margin-left: 100px;


}
.color-photo{
	max-width: 50%;
	margin-left: 100px;
}

.color-btn{
	font-size: 3em;
	padding: 20px;
}
.color-btn-div{
	margin-left: 100px;
}